# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
gen
.gitignore
.idea/EasyCodeConfig/
.idea/compiler.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/encodings.xml
.idea/hdfsnavigator.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
target/
jenkinsDocker.iml
